* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

:root {
  font-size: 16px; }

@font-face {
  font-family: "Futura HV";
  src: url("../fonts/Futura_HV.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Futura MD";
  src: url("../fonts/Futura_MD.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Futura BK";
  src: url("../fonts/Futura_BK.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Futura HV'; }

h1 {
  font-size: 3.815em;
  line-height: 1.37;
  color: #303031; }
  @media (max-width: 576px) {
    h1 {
      font-size: 2.543rem; } }

h2 {
  font-size: 3.052em;
  color: #00367A;
  margin-bottom: 2rem; }
  @media (max-width: 576px) {
    h2 {
      font-size: 1.8rem;
      margin-bottom: 1rem; } }

h4 {
  font-size: 1.563em;
  color: #00367A; }

#hero-text {
  font-family: 'Futura BK';
  font-size: 1.25em;
  color: #80868E; }

.sub-text {
  font-family: 'Futura MD';
  font-size: 1.25em;
  color: #80868E;
  line-height: 1.75;
  margin-bottom: 7.8125rem; }
  @media (max-width: 576px) {
    .sub-text {
      font-size: 1rem;
      margin-bottom: 4rem; } }

.sub-title {
  font-family: 'Futura HV';
  font-size: 1.25em;
  color: #00367A;
  line-height: 1.75;
  margin-bottom: 2rem; }

.para-text {
  font-family: 'Futura BK';
  font-size: 1em;
  color: #80868E;
  line-height: 1.75; }

.footer-title {
  font-family: 'Futura MD';
  color: #00367A; }

body {
  background-color: #FBFBFB; }

.container {
  margin-left: 0; }
  @media (max-width: 576px) {
    .container {
      max-width: 100%; } }
  @media (max-width: 768px) {
    .container {
      max-width: 100%; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1280px !important; } }

.wrapper-main {
  padding-left: calc((100vw - 15rem) * .2 + 2rem); }
  @media (max-width: 768px) {
    .wrapper-main {
      padding-left: 0 !important; } }

.border-crumb {
  position: fixed;
  width: 13rem;
  z-index: 100;
  height: 100vh;
  border-right: 0.0625rem solid #E1E1E1;
  background-color: #FBFBFB; }
  .border-crumb a {
    padding-top: 2rem;
    display: flex;
    margin: auto;
    width: 6.625rem; }
  @media (max-width: 1175px) {
    .border-crumb {
      width: 10rem; } }
  @media (max-width: 768px) {
    .border-crumb {
      display: none; } }

nav .first-part {
  width: 100%; }

nav .second-part {
  min-width: 27rem; }

@media (max-width: 768px) {
  nav a {
    display: block !important; } }

nav #navbarNav {
  padding-top: 1.2rem; }
  @media (max-width: 1175px) {
    nav #navbarNav {
      padding-left: 0 !important; } }

nav .navbar-toggler {
  background-color: white; }
  @media (max-width: 1175px) {
    nav .navbar-toggler {
      margin-top: 1.2rem; } }
  @media (max-width: 768px) {
    nav .navbar-toggler {
      margin-top: 0; } }

nav .navbar-toggler-icon {
  background-image: url("../images/svg/menu.svg"); }

nav li {
  font-size: 0.9rem;
  padding-right: 3rem;
  font-family: 'Futura MD'; }
  nav li a {
    color: #303031; }
    nav li a img {
      padding-bottom: 3px; }
  nav li .sign-up {
    width: 6.375rem;
    text-align: center;
    border-radius: 5px;
    border: 1.5px solid #0052B4; }
  @media (max-width: 1175px) {
    nav li {
      padding-right: 1rem; } }

section#hero {
  padding-top: 7.8125rem;
  padding-bottom: 7.8125rem; }
  @media (max-width: 576px) {
    section#hero {
      padding-top: 1.5rem;
      padding-bottom: 6rem; } }
  section#hero h1 {
    margin-bottom: 2rem; }
  section#hero a {
    margin-top: 1.25rem;
    background-color: #0052B4;
    border-radius: 0;
    color: white;
    width: 9.0625rem;
    height: 2.8125rem;
    padding: 0.575rem 0.75rem; }
    section#hero a:hover {
      color: white;
      background-color: #014494; }
  section#hero .timeline-desktop {
    display: flex;
    margin-top: 9rem; }
    @media (max-width: 576px) {
      section#hero .timeline-desktop {
        margin-top: 4rem; } }

section#our-solution .solution {
  margin-bottom: 7.8125rem; }
  @media (max-width: 576px) {
    section#our-solution .solution {
      margin-bottom: 2rem; } }

@media (max-width: 768px) {
  section#our-solution .solution.hide {
    display: none; } }

section#our-solution .solution-phone {
  display: none; }
  @media (max-width: 768px) {
    section#our-solution .solution-phone {
      display: block !important; } }

@media (max-width: 576px) {
  section#our-solution img {
    margin: 2rem 0rem;
    width: 12.5rem; } }

section#our-solution .circle-1 {
  top: 15% !important;
  left: 60% !important;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 30px;
  height: 30px; }
  section#our-solution .circle-1:before {
    content: '';
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 45px;
    background-color: #FF7616;
    animation: pulse-ring 3.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite; }
  section#our-solution .circle-1:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #FF7616;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    animation: pulse-dot 2.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite; }

@keyframes pulse-ring {
  0% {
    transform: scale(0.11); }
  80%, 100% {
    opacity: 0; } }

@keyframes pulse-dot {
  0% {
    transform: scale(0.8); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(0.8); } }

section#our-solution .circle-2 {
  left: 25% !important;
  top: 80% !important;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 30px;
  height: 30px; }
  section#our-solution .circle-2:before {
    content: '';
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 45px;
    background-color: #FF7616;
    animation: pulse-ring 3.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite; }
  section#our-solution .circle-2:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #FF7616;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    animation: pulse-dot 2.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite; }

@keyframes pulse-ring {
  0% {
    transform: scale(0.11); }
  80%, 100% {
    opacity: 0; } }

@keyframes pulse-dot {
  0% {
    transform: scale(0.8); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(0.8); } }

section#our-solution .col-lg-8 {
  padding-left: 0 !important; }

section#how-wedoit {
  background-color: white; }
  section#how-wedoit .timeline-desktop {
    padding-top: 7.8125rem;
    padding-bottom: 4rem;
    display: flex; }
    @media (max-width: 576px) {
      section#how-wedoit .timeline-desktop {
        padding-top: 3rem; } }
  section#how-wedoit .row {
    padding-bottom: 7.8125rem; }
    @media (max-width: 576px) {
      section#how-wedoit .row {
        padding-bottom: 3rem; } }
  section#how-wedoit h2 {
    margin-bottom: 6rem; }
    @media (max-width: 576px) {
      section#how-wedoit h2 {
        margin-bottom: 3rem; } }

section#achievements {
  padding-top: 7.8125rem;
  padding-bottom: 7.8125rem; }
  @media (max-width: 576px) {
    section#achievements {
      padding-top: 3rem;
      padding-bottom: 3rem; } }

section#contact-us {
  padding-top: 7.8125rem;
  padding-bottom: 7.8125rem; }
  @media (max-width: 576px) {
    section#contact-us {
      padding-top: 3rem;
      padding-bottom: 3rem; } }
  section#contact-us h2 {
    margin-bottom: 4rem; }
  section#contact-us a {
    margin-top: 1.25rem;
    background-color: #0052B4;
    border-radius: 0;
    color: white;
    width: 9.0625rem;
    height: 2.8125rem;
    padding: 0.575rem 0.75rem; }
    section#contact-us a:hover {
      color: white;
      background-color: #014494; }

footer {
  padding-top: 3.75rem;
  border-top: 1px solid #E1E1E1; }
  @media (max-width: 576px) {
    footer .col-lg-2 {
      padding-bottom: 1rem; } }
  footer .footer-wrapper {
    padding-bottom: 3.75rem; }
    @media (max-width: 576px) {
      footer .footer-wrapper {
        padding-bottom: 1rem; } }
    footer .footer-wrapper .para-text {
      margin-top: 1rem;
      font-size: 0.85rem; }
    @media (max-width: 576px) {
      footer .footer-wrapper .footer-info {
        padding-bottom: 2rem; } }
    footer .footer-wrapper .footer-info img {
      padding-right: 1rem; }
    footer .footer-wrapper .footer-info a {
      font-size: 0.85rem;
      font-family: 'Futura BK';
      color: #00367A; }
    footer .footer-wrapper li {
      list-style: none;
      line-height: 2.0; }
      footer .footer-wrapper li a {
        font-size: 0.85em;
        color: #80868E; }

section#copyright {
  border-top: 1px solid #E1E1E1; }
  section#copyright .copyright {
    padding-top: 1.125rem;
    padding-bottom: 1.125rem; }
    section#copyright .copyright p, section#copyright .copyright a {
      font-family: 'Futura MD';
      font-size: 0.85em;
      color: #80868E;
      margin-bottom: 0; }
      @media (max-width: 576px) {
        section#copyright .copyright p, section#copyright .copyright a {
          margin-bottom: 1rem; } }
    section#copyright .copyright .company-policy {
      text-align: right; }
      @media (max-width: 576px) {
        section#copyright .copyright .company-policy {
          text-align: left; } }
      section#copyright .copyright .company-policy a {
        padding-right: 5.75rem; }
        @media (max-width: 576px) {
          section#copyright .copyright .company-policy a {
            padding-right: 1rem; } }
