/**

 Syoak Main SCSS

 **/
@font-face {
  font-family: "Futura HV";
  src: url("../fonts/Futura_HV.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Futura MD";
  src: url("../fonts/Futura_MD.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Futura BK";
  src: url("../fonts/Futura_BK.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

:root {
  font-size: 16px; }

body {
  background-color: #FBFBFB; }

.container {
  margin-left: 0; }
  @media (max-width: 576px) {
    .container {
      max-width: 100%; } }
  @media (max-width: 875px) {
    .container {
      max-width: 100%; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1280px !important; } }

.wrapper-main {
  padding-left: calc((100vw - 15rem) * .2 + 2rem); }
  @media (max-width: 875px) {
    .wrapper-main {
      padding-left: 0 !important; } }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Futura HV'; }

h1 {
  font-size: 3.815em;
  line-height: 1.37;
  color: #303031; }
  @media (max-width: 1175px) {
    h1 {
      font-size: 3.052rem; } }
  @media (max-width: 576px) {
    h1 {
      font-size: 2.441rem; } }

h2 {
  font-size: 3.052em;
  color: #00367A;
  margin-bottom: 2rem; }
  @media (max-width: 576px) {
    h2 {
      font-size: 1.953rem;
      margin-bottom: 1rem; } }

h4 {
  font-size: 1.563em;
  color: #00367A; }

#hero-text {
  font-family: 'Futura BK';
  font-size: 1.25em;
  color: #80868E; }

.sub-text {
  font-family: 'Futura MD';
  font-size: 1.25em;
  color: #80868E;
  line-height: 1.75;
  margin-bottom: 7.8125rem; }
  @media (max-width: 576px) {
    .sub-text {
      font-size: 1rem;
      margin-bottom: 4rem; } }

.sub-title {
  font-family: 'Futura HV';
  font-size: 1.25em;
  color: #00367A;
  line-height: 1.75;
  margin-bottom: 2rem; }

.para-text {
  font-family: 'Futura BK';
  font-size: 1em;
  color: #80868E;
  line-height: 1.75; }

.small-text {
  font-size: 0.85em;
  color: #80868E; }

.footer-title {
  font-family: 'Futura MD';
  color: #00367A; }

.border-crumb {
  position: fixed;
  width: 13rem;
  z-index: 100;
  height: 100vh;
  border-right: 0.0625rem solid #E1E1E1;
  background-color: #FBFBFB; }
  .border-crumb__logo {
    padding-top: 2rem;
    display: flex;
    margin: auto;
    width: 6.625rem; }
  @media (max-width: 1175px) {
    .border-crumb {
      width: 10rem; } }
  @media (max-width: 875px) {
    .border-crumb {
      display: none; } }

/* --- Header ---*/
.navigation--menu-1 {
  width: 100%; }

.navigation--menu-2 {
  min-width: 27rem; }

.navigation__wrapper {
  padding-top: 1.2rem; }
  @media (max-width: 1175px) {
    .navigation__wrapper {
      padding-left: 0 !important; } }

@media (max-width: 875px) {
  .navigation__logo {
    display: block !important; } }

@media (max-width: 1175px) {
  .navigation__toggler {
    margin-top: 1.2rem; } }

@media (max-width: 875px) {
  .navigation__toggler {
    margin-top: 0; } }

.navigation__toggler-icon {
  background-image: url("../images/svg/menu.svg"); }

.navigation__item {
  font-size: 0.9rem;
  font-family: 'Futura MD'; }
  .navigation__item:not(:last-child) {
    padding-right: 3rem; }
    @media (max-width: 1175px) {
      .navigation__item:not(:last-child) {
        padding-right: 1rem; } }
  .navigation__item__link {
    color: #303031; }
    .navigation__item__link__icons {
      padding-bottom: 0.1875rem; }
    .navigation__item__link__sign-up {
      width: 6.375rem;
      text-align: center;
      border-radius: 5px;
      border: 1.5px solid #0052B4;
      color: #303031; }

/* --- Hero Section ---*/
.hero {
  padding-top: 3.90625rem;
  padding-bottom: 3.90625rem; }
  @media (max-width: 576px) {
    .hero {
      padding-top: 1.125rem;
      padding-bottom: 1.125rem; } }
  @media (max-width: 1175px) {
    .hero {
      padding-top: 1.95rem;
      padding-bottom: 1.95rem; } }
  .hero__big-title {
    padding-bottom: 3.90625rem;
    padding-bottom: 1.95rem; }
    @media (max-width: 1175px) {
      .hero__big-title {
        padding-top: 1.95rem; } }
    @media (max-width: 1175px) {
      .hero__big-title {
        padding-bottom: 1.125rem; } }
    @media (max-width: 1175px) {
      .hero__big-title {
        padding-top: 0; } }
  .hero__accent-btn {
    margin-top: 1.25rem;
    background-color: #0052B4;
    border-radius: 0;
    color: white;
    width: 9.0625rem;
    height: 2.8125rem;
    padding: 0.575rem 0.75rem; }
    .hero__accent-btn:hover {
      color: white;
      background-color: #014494; }
  .hero__timeline-desktop {
    margin-top: 9rem; }

@keyframes fillSpot {
  0% {
    background-color: #0052B4;
    border-color: #0052B4; }
  100% {
    transform: scale(1.3);
    background-color: #FF7616;
    border-color: #0ebeff; } }

@keyframes emptySpot {
  0% {
    background-color: #0052B4;
    border-color: #0052B4; }
  100% {
    background-color: #0052B4; } }
    .hero__timeline-desktop #timeline-section {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 100px; }
      .hero__timeline-desktop #timeline-section #timeline {
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed grey;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative; }
        .hero__timeline-desktop #timeline-section #timeline #timeline-fill {
          position: absolute;
          top: 0;
          left: 0;
          width: 0px;
          height: 1px;
          background-color: #FF7616;
          transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
          z-index: 20; }
        .hero__timeline-desktop #timeline-section #timeline .timeline-point {
          width: 20px;
          height: 20px;
          background-color: #0052B4;
          border-radius: 50%;
          border-spacing: 15px 50px;
          z-index: 50; }
          .hero__timeline-desktop #timeline-section #timeline .timeline-point.selected {
            animation: fillSpot .2s .6s forwards; }
            .hero__timeline-desktop #timeline-section #timeline .timeline-point.selected:before {
              border: 1px solid #FF7616;
              top: -5px;
              left: -5px; }
          .hero__timeline-desktop #timeline-section #timeline .timeline-point:hover {
            cursor: pointer; }
          .hero__timeline-desktop #timeline-section #timeline .timeline-point:before {
            content: '';
            width: 30px;
            height: 30px;
            border-radius: 50%;
            position: absolute; }
    @media (max-width: 576px) {
      .hero__timeline-desktop {
        margin-top: 4rem; } }
    @media (max-width: 1175px) {
      .hero__timeline-desktop {
        display: none; } }

/* --- Our Soluion Section ---*/
.solution {
  padding-top: 3.90625rem;
  padding-bottom: 3.90625rem; }
  @media (max-width: 576px) {
    .solution {
      padding-top: 1.125rem;
      padding-bottom: 1.125rem; } }
  @media (max-width: 1175px) {
    .solution {
      padding-top: 1.95rem;
      padding-bottom: 1.95rem; } }
  .solution__row:not(:last-child) {
    padding-bottom: 3.90625rem; }
    @media (max-width: 1175px) {
      .solution__row:not(:last-child) {
        padding-bottom: 1.95rem; } }
  .solution__row--hide {
    padding-bottom: 3.90625rem; }
    @media (max-width: 1175px) {
      .solution__row--hide {
        padding-bottom: 1.95rem; } }
    @media (max-width: 1175px) {
      .solution__row--hide {
        display: none; } }
  .solution__row--phone {
    padding-bottom: 3.90625rem;
    display: none; }
    @media (max-width: 1175px) {
      .solution__row--phone {
        padding-bottom: 1.95rem; } }
    @media (max-width: 1175px) {
      .solution__row--phone {
        display: block !important; } }
  @media (max-width: 1175px) {
    .solution__row__image {
      margin: 2rem 0rem;
      width: 12.5rem; } }
  .solution__row__padding {
    padding-left: 0 !important; }
  .solution__row__circle--1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 30px;
    height: 30px;
    top: 15%;
    left: 60%; }
    .solution__row__circle--1:before {
      content: '';
      position: relative;
      display: block;
      width: 300%;
      height: 300%;
      box-sizing: border-box;
      margin-left: -100%;
      margin-top: -100%;
      border-radius: 45px;
      background-color: #FF7616;
      animation: pulse-ring 3.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite; }
    .solution__row__circle--1:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: #FF7616;
      border-radius: 15px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
      animation: pulse-dot 2.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite; }

@keyframes pulse-ring {
  0% {
    transform: scale(0.11); }
  80%, 100% {
    opacity: 0; } }

@keyframes pulse-dot {
  0% {
    transform: scale(0.8); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(0.8); } }
  .solution__row__circle--2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 30px;
    height: 30px;
    left: 25%;
    top: 80%; }
    .solution__row__circle--2:before {
      content: '';
      position: relative;
      display: block;
      width: 300%;
      height: 300%;
      box-sizing: border-box;
      margin-left: -100%;
      margin-top: -100%;
      border-radius: 45px;
      background-color: #FF7616;
      animation: pulse-ring 3.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite; }
    .solution__row__circle--2:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: #FF7616;
      border-radius: 15px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
      animation: pulse-dot 2.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite; }

@keyframes pulse-ring {
  0% {
    transform: scale(0.11); }
  80%, 100% {
    opacity: 0; } }

@keyframes pulse-dot {
  0% {
    transform: scale(0.8); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(0.8); } }

/* --- Our Process Section ---*/
.process {
  background-color: white;
  padding-top: 3.90625rem;
  padding-bottom: 3.90625rem; }
  @media (max-width: 576px) {
    .process {
      padding-top: 1.125rem;
      padding-bottom: 1.125rem; } }
  @media (max-width: 1175px) {
    .process {
      padding-top: 1.95rem;
      padding-bottom: 1.95rem; } }
  .process__row {
    padding-top: 3.90625rem;
    padding-bottom: 3.90625rem; }
    @media (max-width: 576px) {
      .process__row {
        padding-top: 1.125rem;
        padding-bottom: 1.125rem; } }
    @media (max-width: 1175px) {
      .process__row {
        padding-top: 1.95rem;
        padding-bottom: 1.95rem; } }
    .process__row__image {
      position: absolute;
      bottom: 0;
      right: 0; }
      @media (max-width: 1175px) {
        .process__row__image {
          position: relative;
          margin: 2rem 0rem;
          width: 18rem; } }
  .process__timeline-desktop {
    padding-bottom: 4rem;
    display: flex; }
  .process__title {
    margin-bottom: 6rem; }
    @media (max-width: 1175px) {
      .process__title {
        margin-bottom: 2rem; } }

/* --- Achievements Section ---*/
.achievements {
  padding-top: 3.90625rem;
  padding-bottom: 3.90625rem; }
  @media (max-width: 576px) {
    .achievements {
      padding-top: 1.125rem;
      padding-bottom: 1.125rem; } }
  @media (max-width: 1175px) {
    .achievements {
      padding-top: 1.95rem;
      padding-bottom: 1.95rem; } }
  .achievements__card {
    padding: 2rem 1rem 1rem 1rem;
    width: 100%;
    max-width: 12rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.18); }
    .achievements__card__round-icon, .achievements__card__round-icon__2, .achievements__card__round-icon__3, .achievements__card__round-icon__4 {
      width: 3.125rem;
      height: 3.125rem;
      border-radius: 50%;
      background-color: white;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.18);
      position: absolute;
      top: -25px;
      background-repeat: no-repeat;
      background-position: center; }
    .achievements__card__text {
      margin-bottom: 0; }
    @media (max-width: 1175px) {
      .achievements__card {
        max-width: 14rem;
        margin-bottom: 4rem; } }
    .achievements__card__round-icon, .achievements__card__round-icon__2, .achievements__card__round-icon__3, .achievements__card__round-icon__4 {
      background-image: url("../images/svg/achievement_1.svg"); }
    .achievements__card__round-icon__2 {
      background-image: url("../images/svg/achievement_2.svg"); }
    .achievements__card__round-icon__3 {
      background-image: url("../images/svg/achievement_3.svg"); }
    .achievements__card__round-icon__4 {
      background-image: url("../images/svg/achievement_4.svg"); }

/* --- Contact Us Section ---*/
.contact-us {
  padding-top: 3.90625rem;
  padding-bottom: 3.90625rem; }
  @media (max-width: 576px) {
    .contact-us {
      padding-top: 1.125rem;
      padding-bottom: 1.125rem; } }
  @media (max-width: 1175px) {
    .contact-us {
      padding-top: 1.95rem;
      padding-bottom: 1.95rem; } }
  .contact-us__tittle {
    margin-bottom: 3rem; }
  .contact-us__form {
    padding-top: 1.95rem;
    padding-bottom: 1.95rem; }
    .contact-us__form__button {
      margin-top: 1.25rem;
      background-color: #0052B4;
      border-radius: 0;
      color: white;
      width: 9.0625rem;
      height: 2.8125rem;
      padding: 0.575rem 0.75rem; }
      .contact-us__form__button:hover {
        color: white;
        background-color: #014494; }
  .contact-us__google-wrapper {
    padding-top: 1.95rem;
    padding-bottom: 1.95rem; }
    .contact-us__google-wrapper__google-map {
      height: 25rem;
      width: 100%;
      max-width: 31.25rem;
      border-radius: 10px; }

.material-form-field {
  font-family: 'Futura BK';
  font-size: 14px;
  position: relative;
  display: block;
  color: #000000;
  padding: 25px 0 10px 0; }
  .material-form-field::after {
    content: "\00A0";
    display: block;
    color: #d50000;
    font-size: 12px;
    padding-top: 5px; }
  .material-form-field #font-check {
    font-size: 14px !important; }
  .material-form-field__label {
    position: absolute;
    display: block;
    top: 35px;
    left: 0px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    pointer-events: none;
    cursor: text; }
  .material-form-field input, .material-form-field textarea {
    padding: 10px 0 10px 0;
    display: block;
    width: 100%;
    max-width: 90%;
    border: none;
    font-size: 14px;
    color: #000000;
    border-bottom: 1px solid #000000;
    outline: none;
    background-color: transparent; }
    .material-form-field input:invalid, .material-form-field textarea:invalid {
      outline: none;
      box-shadow: none; }
    .material-form-field input:valid ~ .material-form-field__label, .material-form-field input:focus ~ .material-form-field__label, .material-form-field textarea:valid ~ .material-form-field__label, .material-form-field textarea:focus ~ .material-form-field__label {
      top: 10px;
      font-size: 12px; }
    .material-form-field input:focus, .material-form-field textarea:focus {
      outline: none;
      color: #3f51b5;
      padding-bottom: 8px;
      border-bottom-width: 3px;
      border-bottom-color: #3f51b5; }
      .material-form-field input:focus ~ .material-form-field__label, .material-form-field textarea:focus ~ .material-form-field__label {
        color: #3f51b5; }

/* --- Footer Section ---*/
.footer {
  padding-top: 3.90625rem;
  padding-bottom: 3.90625rem;
  border-top: 1px solid #E1E1E1; }
  @media (max-width: 576px) {
    .footer {
      padding-top: 1.125rem;
      padding-bottom: 1.125rem; } }
  @media (max-width: 1175px) {
    .footer {
      padding-top: 1.95rem;
      padding-bottom: 1.95rem; } }
  .footer__wrapper__logo-text {
    margin-top: 1rem; }
  @media (max-width: 576px) {
    .footer__wrapper__info {
      padding-bottom: 2rem; } }
  .footer__wrapper__info__icon {
    padding-right: 1rem; }
  .footer__wrapper__info__link {
    color: #00367A; }
  .footer__navigation__item {
    list-style: none;
    line-height: 2.0; }

/* --- Copyright Section ---*/
.copyright {
  border-top: 1px solid #E1E1E1;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem; }
  .copyright__text {
    margin-bottom: 0; }
    @media (max-width: 576px) {
      .copyright__text {
        margin-bottom: 1rem; } }
  .copyright__policy {
    text-align: right; }
    @media (max-width: 576px) {
      .copyright__policy {
        text-align: left; } }
  .copyright__link {
    padding-right: 5.75rem; }
    @media (max-width: 576px) {
      .copyright__link {
        padding-right: 1rem; } }
