// Global
* {
padding:0;
margin:0;
box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  background-color: color(background);
}

.container {
  margin-left: 0;
  @include phone {
    max-width: 100%;
  }
  @include tablet-potrait {
    max-width: 100%;
  }
  @include desktop {
    max-width: 1280px!important;
  }
}

.wrapper-main {
  padding-left: calc((100vw - 15rem) * .2 + 2rem);
  @include tablet-potrait {
    padding-left: 0!important;
  }
}
