
$colors:(
  nav-title: #303031,
  titlecolor: #00367A,
  textcolor: #80868E,
  accent-color1: #0052B4,
  accent-color2: #FF7616,
  border:#E1E1E1,
  background:#FBFBFB
);

@function color ($color-name) {
  @return map-get($colors, $color-name)
};
