@import './reset';
@import './variables';
@import './fonts';
@import './breakpoints';

body {
  background-color: color(background);
}

.container {
  margin-left: 0;
  @include phone {
    max-width: 100%;
  }
  @include tablet-potrait {
    max-width: 100%;
  }
  @include desktop {
    max-width: 1280px!important;
  }
}

.wrapper-main {
  padding-left: calc((100vw - 15rem) * .2 + 2rem);
  @include tablet-landscape {
    padding-left: 0!important;
  }
}

.border-crumb {
  position: fixed;
  width: 13rem;
  z-index: 100;
  height: 100vh;
  border-right: 0.0625rem solid color(border);
  background-color: color(background);
  a {
    padding-top: 2rem;
    display: flex;
    margin: auto;
    width: 6.625rem;
  }
  @include tablet-landscape {
    display: none;
  }
}

nav {
  #navbarNav {
    padding-top: 1.2rem;

    @include tablet-landscape {
      padding-left: 0!important;
    }
  }

  a {
    @include tablet-landscape {
      padding-top: 1rem!important;
      display: block!important;
    }
  }
  li {
    font-size: 0.9rem;
    padding-right: 3rem;
    font-family: 'Futura MD';
    a {
      color: color(nav-title);
    }
  }
}


footer {
  span {
    a {
      font-family: 'Futura BK';
      color: color(titlecolor);
    }
  }
  li {
    list-style: none;
    line-height: 2.0;
    a {
      font-size: 0.85em;
      color: color(textcolor);

    }
  }
  .copyright {
    p, a {
      font-family: 'Futura MD';
      font-size: 0.85em;
      color:color(textcolor);
    }
  }
}
