// elements
@mixin timeline {
  @keyframes fillSpot {
    0%{background-color: color(accent-color1); border-color: color(accent-color1)}
    100%{transform: scale(1.3);background-color: color(accent-color2); border-color: #0ebeff}
  };

  @keyframes emptySpot {
    0%{background-color: color(accent-color1); border-color: color(accent-color1);}
    100%{background-color: color(accent-color1); }
  };

  #timeline-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    .timeline--scrollbar {
      width: 75%!important;
    }
    #timeline {
      width: 100%;
      height: 1px;
      border-bottom: 1px dashed grey;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      #timeline-fill {
        position: absolute;
        top: 0;
        left: 0;
        width: 0px;
        height: 1px;
        background-color: color(accent-color2);
        transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1);
        z-index: 20;
      }

      .timeline-point {
        width: 20px;
        height: 20px;
        background-color: color(accent-color1);
        border-radius: 50%;
        border-spacing: 15px 50px;
        z-index: 50;
        &.selected {
          animation: fillSpot .2s .6s forwards;
          &:before {
            border: 1px solid color(accent-color2);
            top:-5px;
            left:-5px;
          }
        }
        &:hover {
          cursor: pointer;
        }

        &:before {
          content: '';
          width: 30px;
          height: 30px;
          border-radius: 50%;
          position: absolute;
        }
      }
    }
  }
}

@mixin button {
    margin-top: 1.25rem;
    background-color: color(accent-color1);
    border-radius: 0;
    color:white;
    width: 9.0625rem;
    height: 2.8125rem;
    padding: 0.575rem 0.75rem;
    &:hover {
      color: white;
      background-color: #014494;
    }
}


@mixin sign-up {
  width: 6.375rem;
  text-align: center;
  border-radius: 5px;
  border: 1.5px solid color(accent-color1);
  color: color(nav-title);
}
